AzureComponents/TrackImportLogicApp.template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "defaultValue": "UserImportTrigger",
      "type": "string"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    },
    "ImportFunction_ExternalId": {
      "type": "string"
    },
    "postgresql_connection_externalid": {
      "type": "string"
    },
    "postgresql_managed_api_id": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 25
              },
              "evaluatedRecurrence": {
                "frequency": "Minute",
                "interval": 25
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@body('Get_rows')?['value']",
              "actions": {
                "ImportUserHistory": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "function": {
                      "id": "[concat(parameters('ImportFunction_ExternalId'), '/functions/ImportUserHistory')]"
                    },
                    "queries": {
                      "userid": "@{items('For_each')?['Id']}"
                    },
                    "retryPolicy": {
                      "count": 1,
                      "interval": "PT20S",
                      "type": "fixed"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_rows": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_rows": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['postgresql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[SpotifyTracker].[Users]'))}/items"
              }
            },
            "ImportTrackInformation": {
              "runAfter": {
                "For_each": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "type": "Function",
              "inputs": {
                "function": {
                  "id": "[concat(parameters('ImportFunction_ExternalId'), '/functions/ImportTrackInformation')]"
                },
                "retryPolicy": {
                  "type": "none"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "postgresql": {
                "connectionId": "[parameters('postgresql_connection_externalid')]",
                "connectionName": "postgresql",
                "id": "[parameters('postgresql_managed_api_id')]"
              }
            }
          }
        }
      }
    }
  ]
}
